.btn {
    display: block;
    cursor: pointer;
    padding: 1.6rem 3.2rem;
    color: $color-light;
    background-color: $color-green-light;
    border: 0.2rem solid $color-green-light;
    border-radius: 0.8rem;
    transition: all 0.3s;
    &:hover {
        background-color: transparent;
    }
}