.format-card {
    height: 44.4rem;
    position: relative;
    border-radius: 1.6rem;
    padding: 2.4rem;
    padding-top: 24.8rem;
    background: linear-gradient(180.00deg, rgba(49, 38, 26, 0) 55.208%,rgba(49, 38, 26, 0.71) 72.917%,rgb(49, 38, 26) 100%);
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        object-fit: cover;
    }

    &__text {
        font-size: 14px;
        font-weight: 300;
        color: $color-light;
    }
    &__title {
        color: $color-light;
        margin-bottom: 1.6rem;
    }
}
